<h1>User Profile Page</h1>

<!-- this just displays the user's first and last name on their profile page
the @user is available because we set it in the get '/users/:id' route -->
<h3> <%= @user.first_name %> <%= @user.last_name %> </h3>